.cabe_conta{
    
        border: solid 4px red;
        height: 10vh;
    
}
.menu_conta{
    border: solid 4px rgb(72, 255, 0);
        height: 5vh;
}
.cuer_conta{
        display: flex;
        height: calc(150vh);
        border: solid 4px cornflowerblue;
    
}
.pie_conta{
    height: 20vh;
    border: solid 4px chocolate;
}
.cuer_conta_parraf{
    /*width: 25px;
    height: 10px;*/
    border: solid 4px purple;
    overflow: scroll;
}
.cuer_conta_parraf2{
    border: solid 4px green;
    margin: 12px;
    padding: 10px;
    border-radius: 25px;
    width: 30%;
}
.cuer_conta_figur{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 30%;
}