h2{
    background-color: blue;
    font-size: large;
}
p{
    color: brown;
}
/*  Es un selector de ID*/
#slec-id{
    background-color: beige;
}
/*Es un selector de clase*/

.sele-class{
    background-color: blueviolet;
}

/*  Selectores avanzados
Selectores de hijos y descendientes
*/
.sele-hijo-descen>li{
     background-color: lightcoral;
}
/* Selector de descendecnia */
.sele-hijo-descen b{
    background-color: lightcoral;
}
.sele-descen b{
    background-color: gold;
}

/* Selector de hermanos y adyacentes */
.sele-herma  li{
    background-color: chocolate;
}
.sele-adya + li{
    background-color: darkslategrey;
}

/*Selectores de atributos*/
.sele-atrib[target="_blank"]{
    background-color: rgb(27, 158, 10);
}
.sele-atrib[href*="filmelier"]{
    background-color: rgb(153, 10, 158);
}
.sele-atrib[href^="filmelier"]{
    background-color: rgb(185, 101, 4);
}
.sele-atrib[href^="filmelier"]{
    background-color: rgb(27, 158, 10);
}